@model IEnumerable<Dishes>


    <div class="card-footer text-center">
        <a asp-action="index" asp-controller="home" class="btn btn-primary">Back to Menu</a>
    </div>

    <div class="card-deck">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>


            @{
                var list = Model.ToList(); 
                for (var i = 0; i < list.Count(); i++)
                { 
                <thead>
                    <div class=" d-lg-table">
                        <tr class="dishes">
                            <div class="container .col-md-1">
                                <td>
                                    <input type ="checkbox" id="@list[i].Id" value="@list[i].Id" name="selected" >
                                </td>
                            </div>

                            <div class="container .col-md-3">
                                <td>
                                    <label>@Html.DisplayFor(modelItem => list[i].Name)</label>
                                </td>
                            </div>

                            <div class=" container .col-md-3">
                                <td>
                                    <label>@Html.DisplayFor(modelItem => list[i].Price)</label>
                                </td>
                            </div>

                            <div class="container .col-md-3">
                                <td>
                                    <label>@Html.DisplayFor(modelItem => list[i].Calories)</label>
                                </td>
                            </div>

                            <div class="container .col-md-2">
                                <td>
                                    <input type="number" id="count_@list[i].Id" min="0" />
                                </td>
                            </div>

                        </tr>
                    </div>
                </thead>
                }
            }
        </table>
    </div>

    <div class="card-footer text-center">
        <button id="button" class="btn btn-success" type="submit">Order</button>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">

    $("#button").click(function () {
    var rowID = 0;
    var allVals = [];
    $('input[type="checkbox"]:checked').each(function () {
        rowID = $(this).val();
        allVals.push(rowID+"_"+$('#count_'+rowID).val());
        alert(allVals);
    });

        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Home/CustomerPost',
            traditional: true,
            data: { values: allVals },
        success: function (result) {
            alert('success');
        },
        failure: function (response) {
            alert('failure');
        }
    });
});
</script>